application-local.conf
/.classpath
/.idea
/.idea_modules
/.project
/.settings
logs
project/target
target
/.DS_Store
*.code-workspace
/.env
.bloop/*
/.metals
.vscode/*
project/project/
project/target/
metals.sbt
project/.bloop/*